{% extends "base.html" %}
{% block content %}
    <h1>User Account Password Recovery</h1>
    <p>Enter your new password below.</p>
    <form action="{{ get_current_path() }}" method="post">
        <input type="hidden" name="key" value="{{ u.key() }}" />
        <input type="hidden" name="code" value="{{ code }}" />
        <div class="form-group">
            <label for="email" class="control-label">Email</label>
            <p class="form-control-static">{{ u.email }}</p>
        </div>
        <div class="form-group">
            <label for="password" class="control-label">New password</label>
            <input type="text" name="password" value="{{ password }}" autofocus class="form-control" />
            {{ validationError('password') }}
        </div>
        <div class="form-group">
            <label for="password_match" class="control-label">New password</label>
            <input type="text" name="password_match" value="{{ password_match }}" class="form-control" />
            {{ validationError('password_match') }}
        </div>
        <div class="form-group clearfix">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary pull-right">Reset Password</button>
            </div>
        </div>
    </form>
{% endblock %}
