{% extends "base.html" %}
{% block title %}Alumni Information{% endblock %}
{% block content %}
	<h1>Alumni Involvement</h1>
	
	<p>Welcome, our distinguished alumni, to TEAM Buzz 2015! This is your chance to reconnect with the Georgia Tech community no matter where in the world you live. Did you know? TEAM Buzz is not only limited to Atlanta projects; volunteers can participate in Metro-Atlanta, other areas in Georgia, various cities throughout the United States, and, beginning this year, a few international locations. So do not miss this opportunity to have fun and serve your community!</p>
	
<p>This year we invite the families of Alumni in the Atlanta area to join us for a day of service at Georgia Tech. We have several projects fit for families, and have a specially designed project for kids under 10 as their parents serve in the community. Your children will be able to stay at Georgia Tech with a group of qualified Tech students to color pictures and write letters to hospital patients that need our encouragement. If you are interested to volunteer with your family or coordinate for your child to serve this year, please contact <a href= "mailto:panderson@gatech.edu">Paul Anderson</a>, Co-Director of TEAM Buzz. </p>

<p>Visit the <a href="http://gtalumni.org/s/1481/alumni/index.aspx?sid=1481&gid=21&pgid=699&cid=1507&ecid=1507&crid=0&calpgid=642&calcid=1490">Alumni Association TEAM Buzz page</a> to find volunteer opportunities near you.</p>

<p>Want to host a project in your community? Please contact <a href="mailto:jane.stoner@alumni.gatech.edu">Jane Stoner</a>, senior manager of alumni clubs, to set up a project for your area. International alumni should contact our Chair of International Projects, <a href="mailto:patti.murphy@gmail.com">Patti Murphy</a>, to register an international project.</p>
	
{% endblock %}	
 
