{% extends "base.html" %}
{% block title %}Executive Committee{% endblock %}
{% block content %}
	<h1>Contact Us</h1>
    <h3>Projects</h3>
    <p>Are you an philanthropic organization looking to partner with TEAM Buzz, or have a question about having TEAM Buzz volunteers help your organization? Contact <a href="mailto:projects@teambuzz.org">projects@teambuzz.org</a></p>
    <h3>Project Coordinators</h3>
    <p>Are you a Georgia Tech student looking to lead others on the day of TEAM Buzz to complete a project? Contact <a href="mailto:projects@teambuzz.org">projects@teambuzz.org</a></p>
    <h3>Day of Logistics</h3>
    <p>Need details about timing, or logistics for the day of TEAM Buzz? Contact <a href="mailto:logistics@teambuzz.org">logistics@teambuzz.org</a></p>
    <h3>Anything else</h3>
    <p>If you're not sure who to contact, contact <a href="mailto:director@teambuzz.org">director@teambuzz.org</a></p>
{% endblock %}	
