{% extends "base.html" %}
{% block title %}Faculty Information{% endblock %}
{% block content %}
	<h1>Faculty Involvement</h1>
	<p>The TEAM Buzz initiative has been positively impacting our community for the past 15 years. We are constantly growing—this year we have branched out to our international campuses in other countries and continents for a true dedication to philanthropy both locally and globally. As this growth continues, we strive to have more and more of the Georgia Tech community by our side at each and every step.  Our esteemed faculty and valuable staff members have shared their part in making a difference on this campus, and we would like for you to have an impact in public service as well.</p>
	<p>There are great advantages to joining the TEAMBuzz initiative as a faculty/staff member:<br />
    <ul>
        <li>Perform community service alongside your students</li>
		<li>Use as a team building opportunity for your colleagues/staff</li>
		<li>Make an impact outside of the classroom</li>
		<li>Garner the respect from your students in a different perspective</li>
        <li>Support the TEAM Buzz initiative that has been taking place on this campus for 15 years</li>
    </ul><br />
	In addition, we hope you invite your whole family to join you. We have several projects fit for families, and have a specially designed project for kids under 10 as their parents serve in the community. Your children will be able to stay at Georgia Tech with a group of qualified Tech students to color pictures and write letters to hospital patients that need our encouragement. If you are interested to volunteer with your family or coordinate for your child to serve this year, please contact <a href= "mailto:panderson@gatech.edu">Paul Anderson</a>, Co-Director of TEAM Buzz. </p>
	<p>We hope you consider joining us this year!</p>
{% endblock %}	
