{% extends "admin/base.html" %}
{% block title %}Volunteers &mdash; {{ volunteer.name }}{% endblock %}
{% block content %}
    <h1>{{ volunteer.name }}</h1>
    <form action="{{ get_current_path() }}" method="POST">
        <input type="hidden" name="volunteer[key]" value="{{ volunteer.key() }}" />
        <div class="form-group">
            <label for="volunteer[first_name]" class="control-label">First name</label>
            <input type="text" name="volunteer[first_name]" value="{{ volunteer.first_name }}" class="form-control" autocorrect="off" />
            {{ validationError('volunteer[first_name]') }}
        </div>
        <div class="form-group">
            <label for="volunteer[last_name]" class="control-label">Last name</label>
            <input type="text" name="volunteer[last_name]" value="{{ volunteer.last_name }}" class="form-control" autocorrect="off" />
            {{ validationError('volunteer[last_name]') }}
        </div>
        <div class="form-group">
            <label for="volunteer[phone]" class="control-label">Phone</label>
            <input type="text" name="volunteer[phone]" value="{{ volunteer.phone }}" class="form-control" autocorrect="off" />
            {{ validationError('volunteer[phone]') }}
        </div>
        <div class="form-group">
            <label for="volunteer[email]" class="control-label">Email</label>
            <input type="text" name="volunteer[email]" value="{{ volunteer.email }}" class="form-control" autocorrect="off" />
            {{ validationError('volunteer[email]') }}
        </div>
        <div class="form-group">
            <label for="volunteer[project]" class="control-label">Project</label>
            <select name="volunteer[project]" class="form-control">
                <option value="">None</option>
                {% for project in Project.all() %}<option value="{{ project.key() }}" {% if volunteer.project and project.key() == volunteer.project.key() %}selected{% endif %}>{{ project.name }}</option>{% endfor %}
            </select>
            {{ validationError('volunteer[project]') }}
        </div>
        <div class="form-group">
            <label for="volunteer[group]" class="control-label">Group</label>
            <select name="volunteer[group]" class="form-control">
                <option value="">None</option>
                {% for group in Group.all() %}<option value="{{ group.key() }}" {% if volunteer.group and group.key() == volunteer.group.key() %}selected{% endif %}>{{ group.name }}</option>{% endfor %}
            </select>
            {{ validationError('volunteer[group]') }}
        </div>
        <div class="form-group">
            <label for="volunteer[is_pc]" class="control-label">Is a PC?</label>
            <select name="volunteer[is_pc]" class="form-control">
                <option value="true">Yes</option>
                <option value="false" {% if not volunteer.is_pc %}selected{% endif %}>No</option>
            </select>
            {{ validationError('volunteer[is_pc]') }}
        </div>
        <div class="form-group">
            <label for="volunteer[is_group_leader]" class="control-label">Is a group leader?</label>
            <select name="volunteer[is_group_leader]" class="form-control">
                <option value="true">Yes</option>
                <option value="false" {% if not volunteer.is_group_leader %}selected{% endif %}>No</option>
            </select>
            {{ validationError('volunteer[is_group_leader]') }}
        </div>
        <div class="form-group clearfix">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary pull-right">Save</button>
                <a href="/admin/volunteers" class="btn btn-default">Cancel</a>
            </div>
            <div class="pull-left">
                <a href="/admin/volunteers/{{ volunteer.key() }}/delete" class="btn btn-danger">Delete...</a>
            </div>
        </div>
    </form>
{% endblock %}
