{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h3>Password Reset</h3>
        <p>We'll email you instructions a link to reset your password.</p>
        <form action="/sign-in/forgot-password" method="POST">
            <div class="form-group">
                <label for="email" class="control-label">Your account's email</label>
                <input type="text" name="email" value="{{ email }}" autofocus class="form-control" />
                {{ validationError('email') }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-md pull-right">Reset Password</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
