{% extends "admin/base.html" %}
{% block title %}Delete all groups{% endblock %}
{% block content %}
    <h1>Delete all groups?</h1>
    <form action="{{ get_current_path() }}" method="POST">
        <div class="form-group">
            <label for="verification" class="control-label">Verification (type "delete all groups")</label>
            <input type="text" name="verification" value="{{ verification }}" class="form-control" autocorrect="off" autocomplete="off" />
            {{ validationError('verification') }}
        </div>
        <div class="form-group clearfix">
            <div class="pull-right">
                <button type="submit" class="btn btn-danger pull-right">Delete all groups</button>
            </div>
            <div class="pull-left">
                <a href="/admin/groups" class="btn btn-default">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
